java:
    environment:
        MANAGEMENT_ENDPOINT_HEALTH_CACHE_TIMETOLIVE: "30000"
        DOCMOSIS_SERVICE_DEV_MODE_FLAG: "true"
        PDF_TEST_ENABLED: "true"

    # Don't modify below here
    image: ${IMAGE_NAME}
    ingressHost: ${SERVICE_FQDN}
    keyVaults:
      prl:
        resourceGroup: prl
        secrets:
          - name: microservicekey-prl-dgs-api
            alias: AUTH_PROVIDER_SERVICE_CLIENT_KEY
          - name: docmosis-api-key
            alias: DOCMOSIS_SERVICE_ACCESS_KEY
          - name: launchDarkly-sdk-key
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: AppInsightsInstrumentationKey
            alias: APP_INSIGHTS_INSTRUMENTATION_KEY
          - name: prl-cos-idam-client-secret
            alias: IDAM_CLIENT_SECRET
          - name: test-genericpassword
            alias: PRL_GENERIC_PASSWORD
          - name: idam-solicitor-username
            alias: IDAM_SOLICITOR_USERNAME
          - name: idam-solicitor-password
            alias: IDAM_SOLICITOR_PASSWORD
          - name: system-update-user-username
            alias: SYSTEM_UPDATE_USER_USERNAME
          - name: system-update-user-password
            alias: PRL_SYSTEM_UPDATE_PASSWORD

    aadIdentityName: prl
